{% extends 'default/index.html.twig' %}

{% block body %}
    <h1>Modifier le message </h1>
    <hr>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}
    <hr>

    
    
    <ul>
        <li>
            <a href="{{ path('message_index') }}">Retourner à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer ">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
