{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <style>
        .login-page {
            padding: 0em 0em;
          }
    </style>
    {{ render(controller('GestionBundle:Default:topBar')) }}


        <div class="login-page">
             <div class="login-main"> 
                <div class="login-head">
                    <h1><B>Changer mot de passe</B></h1>
                </div>
                    <div class="login-block">

                        <br/>
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                            {{ form_widget(form) }}
                            <hr>
                            <center>
                            <div>
                                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
                            </div>
                            </center>


                        {{ form_end(form) }}
                    </div>
             </div>
           
        </div>
    {% include 'bar/leftbar.html.twig' %} 


{% endblock body %}




