
<!DOCTYPE html>
<html>
    
   <head>
    <title>AutoEcole Website   </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="{{ asset ('bundles/gestion/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="{{ asset ('bundles/gestion/css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>
    <!--js-->
    <script src="{{ asset ('bundles/gestion/js/jquery-2.1.1.min.js')}}"></script> 
    <!--icons-css-->
    <link href="{{asset ('bundles/gestion/css/font-awesome.css')}}" rel="stylesheet"> 
    <!--Google Fonts--> 
    <link href="{{asset ('bundles/gestion//fonts.googleapis.com/css?family=Carrois+Gothic')}}" rel='stylesheet' type='text/css'>
    <link href="{{asset ('bundles/gestion//fonts.googleapis.com/css?family=Work+Sans:400,500,600')}}" rel='stylesheet' type='text/css'>
    <!--static chart-->
    </head>
    
    
    
        <link rel="stylesheet" href="{{asset ('bundles/gestion///code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')}}">
        <link rel="stylesheet" href="{{asset ('bundles/gestion//resources/demos/style.css')}}">
        <script src="{{asset ('bundles/gestion/js/jquery-1.12.4.js')}}"></script> {#https://code.jquery.com/jquery-1.12.4.js">#}
        <script src="{{asset ('bundles/gestion/https://code.jquery.com/ui/1.12.1/jquery-ui.js')}}"></script>

 
    
    <!-- Include Required Prerequisites -->
        <script type="text/javascript" src="{{asset ('bundles/gestion/js//cdn.jsdelivr.net/jquery/1/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{asset ('bundles/gestion/js//cdn.jsdelivr.net/momentjs/latest/moment.min.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{asset ('bundles/gestion/js//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css')}}" />

    <!-- Include Date Range Picker -->
        <script type="text/javascript" src="{{asset ('bundles/gestion/plugin//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{asset ('bundles/gestion/plugin//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')}}" />

    <body>
  
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        

        <script src="{{asset ('bundles/gestion/js/jquery.nicescroll.js')}}"></script>
        <script src="{{asset ('bundles/gestion/js/scripts.js')}}"></script>
        <!--//scrolling js-->
        <script src="{{asset ('bundles/gestion/js/bootstrap.js')}}"></script>
    </body>
</html>
