{% extends "default/index.html.twig" %}    

{% block body %}
   
<style type="text/css">
.roundedImage
    {
        overflow:hidden;
        -webkit-border-radius:50px;
        -moz-border-radius:50px;
        border-radius:50px;
        width:90px;
        height:90px;
    }
.btn
    {
        vertical-align: text-top;
    }

</style>
    <div class=" col-xs-12"> 
            

        <h1><b>Détails du cours</b></h1>
        <div class="roundedImage">
            <img class="alignleft" src="{{ asset('bundles/FilesCours/'~cours.id~'/'~cours.file  | raw | convert_encoding('UTF-8', 'ISO-8859-1') ) }}" alt="" width="100" height="100" />                  
        </div>
    </div>
    <hr/>
    <hr/>
    
    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                
                <td>{{ cours.titre }}</td>
            </tr>
        <br/>
            <tr>
                
                <th>Texte</th>
                
                <td>{{ cours.texte|raw }}</td>
            </tr>
            <tr>
                
                <th>Date</th>
                
                <td>{% if cours.date %}{{ cours.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                
                <th>Duree </th>
                
                <td>{{ cours.duree }}</td>
            </tr>
        </tbody>
    </table>
    <br/>
    
        {% for file in files %}
            <div class="col-md-3 ">
                <img class="alignleft" src="{{ asset('bundles/FilesCours/fichiers/'~cours.id~'/'~file.nom  | raw | convert_encoding('UTF-8', 'ISO-8859-1') ) }}" alt="" width="290" height="275" />                  
            </div>
        {%endfor%}
        
        
    <div class="col-xs-12">
        <center>
                <br/>
            <a href="{{ path('cours_index') }}"><button type="submit" class="btn btn-success">Retour à la liste des cours</button></a><br/>
                {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger" value="Delete">Supprimer le cours</button>
                {{ form_end(delete_form) }}
        </center> 
    </div>
{% endblock %}
